<h2><%= program? 'Edit': 'Add' %> Fix and Flip Loan Program</h2>
<form method="POST" action="<%= program? '/api/lenders/' + lenderId + '/loanPrograms/' + program._id: '/api/lenders/' + lenderId + '/loanPrograms' %>">
    <input type="hidden" name="type" value="Fix and Flip">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= program? program.name: '' %>"><br>

    <h3>Tiers</h3>
    <% tiers.forEach((tier, index) => { %>
    <h4>Tier <%= index + 1 %></h4>
    <label for="tierName">Tier Name:</label>
    <input type="text" id="tierName" name="tiers[<%= index %>][tierName]" value="<%= tier.tierName || '' %>"><br>

    {/* Basic Fields */}
    <label for="minFICO">Min FICO:</label>
    <input type="number" id="minFICO" name="tiers[<%= index %>][minFICO]" value="<%= tier.minFICO || '' %>"><br>
    <label for="minExperience">Min Experience:</label>
    <input type="number" id="minExperience" name="tiers[<%= index %>][minExperience]" value="<%= tier.minExperience || '' %>"><br>
    {/*... other basic fields... */}

    {/* Fix and Flip Specific Fields */}
    <label for="maxLTP">Max LTP:</label>
    <input type="number" id="maxLTP" name="tiers[<%= index %>][maxLTP]" value="<%= tier.maxLTP || '' %>"><br>
    <label for="totalLTC">Total LTC:</label>
    <input type="number" id="totalLTC" name="tiers[<%= index %>][totalLTC]" value="<%= tier.totalLTC || '' %>"><br>
    <label for="maxARV">Max ARV:</label>
    <input type="number" id="maxARV" name="tiers[<%= index %>][maxARV]" value="<%= tier.maxARV || '' %>"><br>
    <label for="minLoan">Min Loan:</label>
    <input type="number" id="minLoan" name="tiers[<%= index %>][minLoan]" value="<%= tier.minLoan || '' %>"><br>
    <label for="maxLoan">Max Loan:</label>
    <input type="number" id="maxLoan" name="tiers[<%= index %>][maxLoan]" value="<%= tier.maxLoan || '' %>"><br>
    <% }); %>

    <button type="submit">Save</button>
</form>